<nav class="navbar justify-content-between p-2" style=" background-color: #103a77d9;">
    <a class="navbar-brand navlogo">Air Yatra</a>
    
</nav>
<div class="loginBox">
    <div class="col-6">
        <div class="loginHead p-2">
            <h6>Welcome To Air Yatra</h6>
        </div>
        <form [formGroup]="registerForm" (submit)="funcRegister()" class="p-3">
            <div class="form-group row fieldBox">
                <label for="name" class="col-sm-4 col-form-label" style="text-align:justify;">Name</label>
                <div class="col-sm-7">
                  <input type="text" class="form-control" id="name" placeholder="Name" name="name" formControlName="name">
                </div>
            </div>
            <div class="form-group row fieldBox">
                <label for="mobile" class="col-sm-4 col-form-label" style="text-align:justify;">Mobile</label>
                <div class="col-sm-7">
                  <input type="tel" class="form-control" id="mobile" placeholder="Mobile" name="phone" formControlName="phone">
                </div>
            </div>
            <div class="form-group row fieldBox">
                <label for="email" class="col-sm-4 col-form-label" style="text-align:justify;">Email</label>
                <div class="col-sm-7">
                  <input type="email" class="form-control" id="email" placeholder="Email" name="email" formControlName="email">
                </div>
            </div>
            <div class="form-group row fieldBox">
                <label for="pass" class="col-sm-4 col-form-label" style="text-align:justify;">Password</label>
                <div class="col-sm-7">
                    <input type="password" class="form-control" id="pass" placeholder="Password" name="password" formControlName="password">
                </div>
            </div>
            <!-- <div class="form-group row fieldBox">
                <label for="cnfrmPass" class="col-sm-4 col-form-label" style="text-align:justify;">Confirm Password</label>
                <div class="col-sm-7">
                    <input type="password" class="form-control" id="cnfrmPass" placeholder="Confirm Password">
                </div>
            </div> -->
            <div>
                <div class="form-group row col-12">
                    <div class="col-sm-6 p-0" style=" text-align: -webkit-right;">
                        <button class="btn btn-warning" style="font-weight: bold;color: #03024c;" type="submit">SIGN UP</button>
                    </div>
                    <div class="col-sm-5" style="text-align: -webkit-left;">
                        <a routerLinnk="/login" class="btn btn-secondary" style="font-weight: bold;color: #e0e3e4;">Log In</a>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>