<div class="row searchStringBox m-2 p-3">
    <div class="col-2 m-0 p-2 toFromDatBox">
        <p>From</p>
        <p>{{fromCity}}</p>
    </div>
    <div class="col-1 arrowSimbol">
        <p>=></p>
    </div>
    <div class="col-2 m-0 p-2 toFromDatBox">
        <p>To</p>
        <p>{{toCity}}</p>
    </div>
    <div class="col-1"></div>
    <div class="col-2 m-0 p-2 toFromDatBox">
        <p>Date</p>
        <p>{{jurneyDate}}</p>
    </div>
</div>
<div class="col-12" style="background-color: white;">
    <div class="row m-2" *ngFor="let flight of flights; let i = index">
        <div class="col-2 m-2 p-2 flightBox">
            <h6 class="m-0">Flight Number - <span>{{flight.flightCode}}</span></h6>
            <h6 class="tex-primary m-2">Business Class</h6>
            <h6 class="tex-primary m-2">{{flight.bussinessClassSeatCost}} &#8377;</h6>
            <div>
                <button #checkAvl (click)="checkBcAvailability(i,flight)" class="btn btn-sm btn-primary">{{bcBtnState[i]}}</button>
            </div>
        </div>
        <div class="col-2 m-2 p-2 flightBox">
            <h6 class="m-0">Flight Number - <span>{{flight.flightCode}}</span></h6>
            <h6 class="tex-primary m-2">First Class</h6>
            <h6 class="tex-primary m-2">{{flight.firstClassSeatCost}} &#8377;</h6>
            <div>
                <button #checkAvl (click)="checkFcAvailability(i,flight)" class="btn btn-sm btn-primary">{{fcBtnState[i]}}</button>
            </div>
        </div>
        <div class="col-2 m-2 p-2 flightBox">
            <h6 class="m-0">Flight Number - <span>{{flight.flightCode}}</span></h6>
            <h6 class="tex-primary m-2">Second Class</h6>
            <h6 class="tex-primary m-2">{{flight.secondClassSeatCost}} &#8377;</h6>
            <div>
                <button #checkAvl (click)="checkScAvailability(i,flight)" class="btn btn-sm btn-primary">{{scBtnState[i]}}</button>
            </div>
        </div>
        <div class="col-2 m-2 p-2 flightBox">
            <h6 class="m-0">Flight Number - <span>{{flight.flightCode}}</span></h6>
            <h6 class="tex-primary m-2">Third Class</h6>
            <h6 class="tex-primary m-2">{{flight.thirdClassSeatCost}} &#8377;</h6>
            <div>
                <button #checkAvl (click)="checkTcAvailability(i,flight)" class="btn btn-sm btn-primary">{{tcBtnState[i]}}</button>
            </div>
        </div>        
    </div>
</div>