<p>search-flight works!</p>
<nav class="navbar justify-content-between p-2" style="background-color: #103a77d9;">
    <a class="navbar-brand navlogo">Air Yatra</a>
    <div class="form-inline">
        <button class="btn btn-sm btn-warning navBtn" type="button">Login</button>
        <button class="btn btn-sm btn-danger navBtn" type="button">Register</button>
    </div>
</nav>
<div class="searchBox">
    <div class="col-6">
        <div class="p-2">
            <h5 style="font-weight: bold;">Search Your Flights Here!</h5>
        </div>
        <div class="p-4">
            <div action="#">
                <div class="form-group row">
                    <label for="fromPlace" class="col-sm-3 col-form-label" style="text-align:justify;">From Place</label>
                    <div class="col-sm-8">
                      <input type="text" class="form-control" id="fromPlace" placeholder="From Place">
                    </div>
                </div>
                <br>
                <div class="form-group row">
                    <label for="text" class="col-sm-3 col-form-label" style="text-align:justify;">To Place</label>
                    <div class="col-sm-8">
                      <input type="text" class="form-control" id="to" placeholder="To Place">
                    </div>
                </div>
                <br>
                <div class="form-group row">
                    <label for="date" class="col-sm-3 col-form-label" style="text-align:justify;">Journey Date</label>
                    <div class="col-sm-8">
                      <input type="date" class="form-control" id="date" placeholder="Journey Date">
                    </div>
                </div>
                <br>
                <div class="form-group row">
                    <label for="class" class="col-sm-3 col-form-label" style="text-align:justify;">Class</label>
                    <div class="col-sm-8">
                      <input type="text" class="form-control" id="class" placeholder="Class">
                    </div>
                </div>
                <br>
                <button type="submit" class="btn btn-success navBtn">Find Flights</button>
            </div>
        </div>
    </div>
</div>